<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes"><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black"><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telphone=no, email=no"><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="HandheldFriendly" content="true">
	<meta name="MobileOptimized" content="320">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="browsermode" content="application">
	<meta name="x5-page-mode" content="app">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="author" content="xiejinlong, 303182519@qq.com">
	<meta name="keywords" content="标记内容太短，则搜索引擎可能不会认为这些内容相关。另外标记不应超过 874 个字符">
	<meta name="description" content="不超过150个字符">
	<title>虎牙移动端模板</title>
	<link rel="stylesheet" href="http://www.xjlstatic.com/home/css/pages/pages-module.css">
	    <link rel="stylesheet" href="http://www.xjlstatic.com/home/pkg/css/index_aio.css" />
	<script>
        var APP_URL = "http://www.huya.com/";
        var GAME_HOMENAME = "allLive";
    </script>
<script type="text/javascript" src="http://www.xjlstatic.com/home/lib/base.js"></script>
</head>
<body>
	<script src="http://assets.dwstatic.com/amkit/p/duya/live2/js/header_lg.js"></script>
	<div class="mod-sidebar">
    <div class="sidebar-hide">
        <ul class="sidebar-icon-list">
            <li class="sidebar-icon-item">
                <a class="sidebar-icon-link clickstat js-sub" href="http://i.huya.com/index.php?m=Subscribe" title="订阅" target="_blank" eid="click/navi/zuoce/sub" eid_desc="点击/导航/左侧导航/我的订阅">
                    <i class="sidebar-icon-sub"></i>
                    <span class="sidebar-title">订阅</span>
                </a>
            </li>
            <li class="sidebar-icon-item">
                <a class="sidebar-icon-link clickstat" href="http://www.huya.com/l" title="直播" eid="click/navi/zuoce/live" eid_desc="点击/导航/左侧导航/全部直播">
                    <i class="sidebar-icon-live"></i>
                    <span class="sidebar-title">直播</span>
                </a>
            </li>
            <li class="sidebar-icon-item">
                <a class="sidebar-icon-link clickstat" href="http://www.huya.com/g" title="分类" eid="click/navi/zuoce/gametype" eid_desc="点击/导航/左侧导航/全部游戏">
                    <i class="sidebar-icon-type"></i>
                    <span class="sidebar-title">分类</span>
                </a>
            </li>
            <%
                if(leftNav['groups']) {

                    for(var i=0; i<leftNav['groups'].length; i++){
                        var data = leftNav['groups'][i];
            %>
            <li class="sidebar-icon-item">
                <a class="sidebar-icon-link clickstat" href="<%=data['link']%>" title="<%=data['short_name']%>" eid="click/navi/zuoce/classify<%=(i+1)%>" eid_desc="点击/导航/左侧导航/classify<%=(i+1)%>">
                    <i style="background-image: url('<%=data['logo']%>');"></i>
                    <span class="sidebar-title"><%=data['short_name']%></span>
                </a>
            </li>
            <% }}%>
        </ul>
        <span id="sidebar-show-btn" class="arrow-btn clickstat" eid="click/navi/zuoce/open"  eid_desc="点击/导航/左侧导航/展开"></span>
        <a target="_blank" class="sidebar-icon-author" href="http://www.huya.com/e/zhubo">
            <i></i>
            <span>开直播</span>
        </a>
    </div>
    <div class="sidebar-show">
        <div id="sidebar-scroll">
            <div class="sidebar-show-nav">
                <a href="http://i.huya.com/index.php?m=Subscribe" class="clickstat sidebar-show-line js-sub" target="_blank" eid="click/navi/zuoce/sub" eid_desc="点击/导航/左侧导航/我的订阅"><i class="sidebar-icon-sub"></i>我的订阅<span class="subscribe-text"> (请登录)</span></a>
                <a href="http://www.huya.com/l" class="clickstat sidebar-show-line" eid="click/navi/zuoce/live" eid_desc="点击/导航/左侧导航/全部直播"><i class="sidebar-icon-live"></i> 全部直播</a>
                <a href="http://www.huya.com/g" class="clickstat sidebar-show-line" eid="click/navi/zuoce/gametype" eid_desc="点击/导航/左侧导航/全部游戏"><i class="sidebar-icon-type"></i>全部分类</a>
            </div>

            <div class="sidebar-recom">
                <% if(leftNav['groups']){%>

                <% 
                    for(var i=0; i<leftNav['groups'].length; i++){
                        var data = leftNav['groups'][i];
                %>    

                <?php $i++;?>
                <div class="m sidebar-show-line">
                    <a class="m-title clickstat" href="<%=data['link']%>" eid="click/navi/zuoce/remen<%=(i+1)%>" eid_desc="点击/导航/左侧导航/热门<%=(i+1)%>">
                        <i class="m-title-type" style="background-image: url('<%=data['logo']%>');"></i>
                        <span class="m-title-span"><%=data['name']%></span>
                    </a>
                    <div class="m-bd">
                        <div class="recomend-list clearfix">
                        <%
                            var $items = leftNav['items'][data['group']];
                            if($items){
                                for(var j=0; j<$items.length; j++){
                                    var $item = $items[j];
                        %>         
                            <a class="recomend-item clickstat" eid="click/navi/zuoce/remen<%=(i+1)%>" eid_desc="点击/导航/左侧导航/热门<%=(i+1)%>" href="<%=$item['link']%>" title="<%=$item['title']%>"><%=$item['title']%><% if($item['sign_red']){%><i></i><% } %></a>            
                        <% 
                                }
                            }
                        %>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
            <div class="sidebar-banner" style="display:none">
                <a target="_blank" class="sidebar-banner-link clickstat" id="sidebarBanner" eid="click/push/leftnaviad" eid_desc="点击/推荐/左侧导航推荐图">
                </a>
            </div>
        </div>
        <div class="sidebar-tool">
            <a target="_blank" class="download clickstat" eid="click/navi/zuoce/xiazai" eid_desc="点击/导航/左侧导航/客户端下载" href="http://www.huya.com/download/" title="下载客户端"></a>
            <a target="_blank" class="toAnchor clickstat" eid="click/navi/zuoce/zhubo" eid_desc="点击/导航/左侧导航/我要做主播" href="http://www.huya.com/e/zhubo" title="我要直播"></a>
        </div>
        <span id="sidebar-hide-btn" class="arrow-btn clickstat" eid="click/navi/zuoce/close"  eid_desc="点击/导航/左侧导航/收起"></span>
    </div>
</div>

	<div class="js-responded-list narrow">
        <div class="mod-list">
            <div class="box">    
                <div class="box-hd clearfix">
                    <h2 class="title">全部直播</h2>
                    <div class="filter">
                        <dl id="js-filter-list">
                            <dd class="clickstat active" data-id="0" data-type="tagAll" eid="click/list/alllive/all" eid_desc="点击/列表页/全部直播/全部">全部</dd>
                            <dd class="clickstat" data-id="31" data-type="tagId" eid="click/list/alllive/31" eid_desc="点击/列表页/全部直播/大神推荐">大神推荐</dd>
                                                        <dd class="clickstat" data-id="3000" data-type="recTag" eid="click/list/alllive/blueray" eid_desc="点击/列表页/全部直播/蓝光">蓝光</dd>
                        </dl>
                    </div> 
                </div>
                <div class="box-bd">
                    <ul class="live-list clearfix" id="js-live-list">
                        <%
						    var APP_URL = 'http://www.huya.com/'
						    for(var i = 0, len=list['datas'].length; i<len; i ++){
						        var data = list['datas'][i];
						%>
                            <li class="game-live-item">
    <%
        var url = APP_URL + data['privateHost'];

        if(data['screenType'] == 1 && data['liveSourceType'] == 2){
            var screenshot = data['screenshot']+'?imageview/4/0/w/190/h/338/rotate/270';
        }else{
            var screenshot = data['screenshot']+'?imageview/4/0/w/338/h/190/blur/1';
        }


    %>
    <a href="<%=url%>" class="video-info new-clickstat" target="_blank">
        <img class="pic" data-original="<%=screenshot%>" src="http://assets.dwstatic.com/amkit/p/duya/common/img/default_live.jpg" alt="<%=data['nick']%>的直播" title="<%=data['nick']%>的直播">
        <% if(data['recommendTagName']){%><em class="tag tag-recommend"><%=data['recommendTagName']%></em><% }%>
        <div class="item-mask"></div>
        <i class="btn-link__hover_i"></i>
        <% if(data['isBluRay']==1){ %><em class="tag tag-blue">蓝光</em><% }%> 
    </a>
    <a href="<%=url%>" class="title new-clickstat" target="_blank" target="_blank"><%= data['introduction']%></a>
    <span class="txt">
        <span class="avatar fl">
            <img data-original="<%=data['avatar180']%>" src="http://assets.dwstatic.com/amkit/p/duya/common/img/default_profile.jpg" alt="<%=data['nick']%>" title="<%=data['nick']%>">
            <i class="nick" title="<%=data['nick']%>"><%=data['nick']%></i>
        </span>
        <%
            if( data['gameHostName'] != ""){
                var gameTypeUrl = "http://www.huya.com/g/" + data['gameHostName'];
            }else{
                var gameTypeUrl = "http://www.huya.com/g/" + data['gid'];
            }
        %>
        <span class="game-type fr"><a target="_blank" href="<%=gameTypeUrl%>" title="<%=data['gameFullName']%>"><%=data['gameFullName']%></a></span>

        <span class="num"><i class="num-icon"></i><i class="js-num"><%=data['totalCount']%></i></span>
    </span>
</li>
  
                        <%}%>
                    </ul>
                    <div class="list-page" id="js-list-page" data-pages="<%=list['totalPage']%>"></div>
                </div>
            </div>
        </div>
    </div>

	
	
	<script type="text/javascript" src="http://www.xjlstatic.com/home/lib/jquery.lazyload.js"></script>
	
	
	<script type="text/javascript" src="http://www.xjlstatic.com/home/pkg/js/index_aio.js"></script>
<script type="text/javascript">
		require('home:client/modules/index')
	</script>
	
	<script type="text/javascript" src="http://www.xjlstatic.com/home/widget/sidebar/sidebarFunction.js"></script>
</body>
</html>
