@charset "UTF-8";
/*
* @Author: xiejinlong
* @Date:   2016-10-08 15:50:13
* @Last Modified by:   xiejinlong
* @Last Modified time: 2016-12-08 14:49:24
*/
.mod-list {
  padding: 0 30px 0 90px;
  min-height: 550px;
  height: 100%;
  position: relative;
}

.mod-list .box {
  margin: 20px 0 0;
}

.mod-list .box-hd {
  position: relative;
  line-height: 40px;
  margin-bottom: 20px;
  /*筛选子项*/
}

.mod-list .box-hd .title {
  float: left;
  padding-right: 10px;
  font-size: 30px;
  color: #333;
}

.mod-list .box-hd .filter {
  color: #666;
  font-size: 14px;
  float: left;
}

.mod-list .box-hd .filter dl {
  overflow: hidden;
  zoom: 1;
}

.mod-list .box-hd .filter dd {
  float: left;
  margin: 9px 10px 0 0;
  text-align: center;
  line-height: 26px;
  padding: 0 9px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  cursor: pointer;
}

.mod-list .box-hd .filter dd:hover, .mod-list .box-hd .filter dd.active {
  color: #ff650f;
  border-color: #ff650f;
}

.mod-list .box-hd .filter dd:hover a, .mod-list .box-hd .filter dd.active a {
  color: #ff650f;
}

.mod-list .box-hd .filter dd a {
  display: block;
  color: #666666;
}

.mod-list .box-bd {
  overflow: hidden;
  margin-right: -11px;
}

html, body {
  overflow: hidden;
}
